.top-stripe {
    height: 30px;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E9E5D9;
}

.top-stripe__span {
    font-size: 13px;
    color: #707070;
    line-height: 1;
}

.top-stripe__link {
    font-size: 13px;
    color: #707070;
    line-height: 1;
}